.checkbox-label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

label {
    display: block;
    cursor: pointer;
}

.checkbox { 
    display: none;
}

.fake-checkbox { 
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #2A4E2B;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 4px;
}

.checkbox:checked + .fake-checkbox {
    background: #2A4E2B;
}