*{
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
  line-height: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

section{
  margin-top: 160px;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: none;
}

p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  line-height: 22px;
}

h1{
  font-family: 'GarciaMarquez';
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
  color: #1E220B;
  line-height: 82px;
}

h5{
  line-height: 27px;
}

fieldset{
  outline: none;
  border:0 none;
}

.container-wrapper{
  width: 1170px;
  margin: 0 auto;
}

@media(max-width: 1170px){
  .mainPageHeader{
    padding: 0 7%;
  }
}

@media(max-width: 760px){
  .mainPageHeader{
    padding: 0 5%;
  }
}